<!-- Cada una de las teclas del teclado -->
<div class="teclado">
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'q'}">q</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'w'}">w</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'e'}">e</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'r'}">r</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 't'}">t</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'y'}">y</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'u'}">u</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'i'}">i</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'o'}">o</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'p'}">p</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'a'}">a</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 's'}">s</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'd'}">d</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'f'}">f</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'g'}">g</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'h'}">h</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'j'}">j</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'k'}">k</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'l'}">l</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === ';'}">;</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'z'}">z</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'x'}">x</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'c'}">c</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'v'}">v</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'b'}">b</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'n'}">n</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'm'}">m</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === ','}">,</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === '.'}">.</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === '/'}">/</div>
    <div class="vacio"></div>
    <div class="tecla espacio" [ngClass]="{'tecla-resaltada': primeraLetraTexto === ' '}"> </div>
    <div class="vacio"></div>
</div>
