<div class="teclado">
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'q'}">Q</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'w'}">W</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'e'}">E</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'r'}">R</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 't'}">T</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'y'}">Y</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'u'}">U</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'i'}">I</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'o'}">O</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'p'}">P</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'a'}">A</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 's'}">S</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'd'}">D</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'f'}">F</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'g'}">G</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'h'}">H</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'j'}">J</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'k'}">K</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'l'}">L</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === ';'}">;</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'z'}">Z</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'x'}">X</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'c'}">C</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'v'}">V</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'b'}">B</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'n'}">N</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === 'm'}">M</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === ','}">,</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === '.'}">.</div>
    <div class="tecla" [ngClass]="{'tecla-resaltada': primeraLetraTexto === '/'}">/</div>
    <div class="vacio"></div>
    <div class="tecla espacio" [ngClass]="{'tecla-resaltada': primeraLetraTexto === ' '}"> </div>
    <div class="vacio"></div>
</div>
