<div class="manos">
    <!-- Cada uno de los dedos de la mano izquierda -->
    <div class="mano">
        <div class="dedo2" [ngClass]="obtenerClaseDedo(1)"></div>
        <div class="dedo3" [ngClass]="obtenerClaseDedo(2)"></div>
        <div class="dedo4" [ngClass]="obtenerClaseDedo(3)"></div>
        <div class="dedo3" [ngClass]="obtenerClaseDedo(4)"></div>
        <div class="dedo1" [ngClass]="obtenerClaseDedo(5)"></div>
    </div>
    <!-- Cada uno de los dedos de la mano derecha -->
    <div class="mano">
        <div class="dedo1" [ngClass]="obtenerClaseDedo(6)"></div>
        <div class="dedo3" [ngClass]="obtenerClaseDedo(7)"></div>
        <div class="dedo4" [ngClass]="obtenerClaseDedo(8)"></div>
        <div class="dedo3" [ngClass]="obtenerClaseDedo(9)"></div>
        <div class="dedo2" [ngClass]="obtenerClaseDedo(10)"></div>
    </div>
</div>
