.posiciones{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.caja{
    margin: 10px auto 0px auto;
    width: 600px;
    max-width: 600px;
    max-height: 75px;
    color: #eddcc2;
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
}
span{
    width: 40px;
}
p{
    margin: auto;
}
.cajaTexto{
    display: flex;
    align-items: center;
    
    font-size: 45px;
    font-family: Courier;
    text-align: center;
    
}

.primeraLetra {
    color: #272727;
    background-color: #eddcc2;
    border: solid;
    height: 52px;
}
@media screen and (max-width: 700px) {
    .caja{
        width: 500px;
    }
    .primeraLetra {
        height: 46px;
    }
    .cajaTexto{
        font-size: 40px;
    }
    span{
        width: 33px;
    }
}
@media screen and (max-width: 522px) {
    .caja{
        width: 283px;
    }
    .cajaTexto{
        font-size: 30px;
    }
    .primeraLetra {
        height: 34px;
    }
    span{
        width: 19px;
    }
}